.main {
  &-container {

    display: grid;
    position: relative;
    grid-template: {
      rows: 10vh 80vh 10vh;
      columns: auto minmax(360px, 33vw)
    };

    grid-template-areas: 
      'header header' 
      'about preview' 
      'footer footer';

    @media (max-width: 720px) {

      grid-template: {
        rows: 10vh 70vh 10vh;
        columns: 1fr
      };

      grid-template-areas: 
        'header header' 
        'about  about' 
        'footer footer';
    }

  }
  &-image {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: radial-gradient(farthest-side, transparent 45%, var(--color-base-500-75));
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(var(--x),var(--y)) scale(1.15);
      transition-duration: 1000ms;
      transition-timing-function: ease-out;
      opacity: .5;
    }
  }
  &-about {

    grid-area: about;

    padding: 0 5vw;

    display: grid;
    align-content: center;
    justify-content: left;
    height: 100%;

    text-shadow: 0px 1px 3px black;

    h1 {
      margin: 0;
      // width: 40ch;
      font-size: 4.5vh;
      opacity: 0;
    }

    h5 {
      margin: 0;
      width: clamp(25ch, 100%, 65ch);
      font-size: 2.5vh;
      font-weight: 400;
      line-height: 3vh;
      opacity: 0;
      -webkit-line-clamp: 6;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @media (max-width: 720px) {
      text-align: center;
    }

  }
  &-preview {

    grid-area: preview;
    position: relative;

    display: grid;
    justify-items: center;

    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 2vh;
    padding: 2vh 4vw;

    background: var(--color-base-500-75);

    @media (min-width: 720px) {
      backdrop-filter: blur(10px);
    }

    > header {

      pointer-events: none;

      font-size: 2.5vh;
      text-align: center;

      padding: 2vh 0;
      width: 100%;

      background: var(--color-accent-300);
      color: var(--font-color-main);

      border-radius: .7rem;

    }

    @media (max-width: 720px) {
      display: none;
    }

  }
  &-footer {
    grid-area: footer;
    display: flex;
    padding: 0 2vw;
    gap: 0 2vw;
    justify-content: right;
    align-items: center;

    background-color: var(--color-base-500);
    border-top: var(--border-size) solid var(--color-accent-200);

    span {

      display: flex;
      align-items: baseline;
      gap: 0 .75vw;

      font-size: var(--font-size-normal);

      svg {
        height: 1.5vh;
      }

      path {
        fill: var(--color-accent-300);
      }
      
    }

    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));

  }
}
