.about {

	&-container {

		padding: 2vh 5vw 10vh;
		display: grid;
		gap: 2vh 0;

		background: var(--color-base-400);

		header {
			h1 {
				color: var(--font-color-main);
				display: block;
				text-align: center;
				font-size: 5vh;
				margin: 2vh;

				letter-spacing: .75ch;

				text-shadow: 
					0px 1px 0px var(--color-accent-600),
					0px 2px 0px var(--color-accent-500),
					0px 3px 0px var(--color-accent-400),
					0px 4px 0px var(--color-accent-300);

			}
			p {
				text-align: center;
				font-size: 2vh;		
				width: clamp(240px, 100%, 90ch);
				margin: auto;
				color: grey;
			}
		}

		hr {
			width: 100%;
			border-color: var(--color-base-600);
		}

	}

	&-tabs {
		display: grid;
		gap: 2vh 2vw;
		grid-template-columns: repeat(auto-fit, minmax(240px, 360px));
		justify-content: center;
	}

	&-cards {
		display: grid;
		gap: 2vw;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	}

}
