:root {
  --color-accent-500:  hsla(30, 12.5%, 40%, 1);
  --color-base-500:    hsla(240, 5%, 8%, 100%);
  --color-base-500-75: hsla(240, 5%, 8%, 75%);
  --color-base-500-50: hsla(240, 5%, 8%, 50%);
  --color-base-500-25: hsla(240, 5%, 8%, 25%);

  --font-size-normal: 2vh;

}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI';
  font-weight: 600;

  &::-webkit-scrollbar {
    background-color: var(--color-base-500);
    width: .5vw;
    &-thumb {
      background-color: var(--color-accent-500);
      border: 2px solid var(--color-base-500);;
      border-radius: 15px;
    }
  }

}

body {
  margin: 0;
  padding: 0;
  height: 210vh;
  background-color: var(--color-base-500);
}

#application {
  position: relative;
}

