:root {
  --color-accent-700:  hsla(30, 12.5%, 70%, 1);
  --color-accent-600:  hsla(30, 12.5%, 60%, 1);
  --color-accent-500:  hsla(30, 12.5%, 50%, 1);
  --color-accent-400:  hsla(30, 12.5%, 40%, 1);
  --color-accent-300:  hsla(30, 12.5%, 30%, 1);
  --color-accent-200:  hsla(30, 12.5%, 20%, 1);

  --color-base-500:    hsla(240, 5%, 8%, 100%);
  --color-base-500-75: hsla(240, 5%, 8%, 75%);
  --color-base-500-50: hsla(240, 5%, 8%, 50%);
  --color-base-500-25: hsla(240, 5%, 8%, 25%);


  --font-color-main: white;
  --font-size-normal: 2vh;

}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI';
  font-weight: 600;

  color: var(--font-color-main);

  &::-webkit-scrollbar {
    background-color: var(--color-accent-500);
    width: .75vw;
    border: .33vw solid var(--color-base-500);
    &-thumb {
      background-color: var(--color-accent-500);
      border: 2px solid var(--color-base-500);;
      border-radius: 4px;
    }
  }

}

body {
  margin: 0;
  padding: 0;
  height: 210vh;
  background-color: var(--color-base-500);
}

