.button {
	
	cursor: pointer;

	margin: auto;

	background-color: var(--color-base-600);
	color: var(--font-color-main);
	border: var(--border-size, 1px) solid transparent;
	border-radius: .7rem;

	width: 100%;

	padding: 2vh 2vw;
	font-weight: 700;

	transition-duration: 250ms;

	&:hover {
		width: calc(100% - 40px);
	}

}